{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attributekeyvalues list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attributeKeyValue in attributeKeyValues %}
            <tr>
                <td><a href="{{ path('attributekeyvalue_show', { 'id': attributeKeyValue.id }) }}">{{ attributeKeyValue.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('attributekeyvalue_show', { 'id': attributeKeyValue.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('attributekeyvalue_edit', { 'id': attributeKeyValue.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('attributekeyvalue_new') }}">Create a new attributeKeyValue</a>
        </li>
    </ul>
{% endblock %}
