{% extends 'base.html.twig' %}

{% block body %}
    <h1>File</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ file.label }}</td>
            </tr>
            <tr>
                <th>Src</th>
                <td>{{ file.src }}</td>
            </tr>
            <tr>
                <th>Mime</th>
                <td>{{ file.mime }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ file.size }}</td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ file.pages }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('file_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('file_edit', { 'id': file.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
